body{
  display: grid;
  width: 100vw;
  height: 100vh;
 
  align-items: center;
  background-image: url('https://source.unsplash.com/1600x900/?landscape') !important;
}

.card{
  padding: 20px !important;
  background-color: #a5bbdd !important;
  box-shadow: -3px 3px 3px rgba(0,0,0,0.2) !important;
}
.card:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4) !important;
}
.box{
  font-size: 10px !important;
  text-transform: capitalize;
  border-radius: 5px !important;
  align-items: center;
  background-color: rgba(0, 0,0,0.03);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  color: whitesmoke;
}
button{
  border-radius: 50% !important;
  height: 42px !important;
  border: 2px solid #007E33 !important;
}

input{
  background-color: transparent !important;
  border: 2px solid #007E33 !important;
}
.fa-street-view{
  color: #007E33;
}
.fa-temperature-full{
  color: #CC0000;

}
.fa-temperature-arrow-up{
  color: #007E33;
}
.fa-temperature-arrow-down{
  color: #CC0000;
}
